@import "src/shared/styles/colors";

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato';
  background-color: $cream-background__color;
  padding-bottom: 4.5rem;

  > .about {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    > .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;

      > .description p {
        font-size: 13px;
      }
      
      > .link {
        width: 100%;

        > * {
          color: $dark-background__color;
          font-size: 28px;
        }

        &:hover > * {
          color: #0d7eec;
        }
      }
    }
    

  }

  @media (min-width: 1024px) {
    > .about {
      flex-direction: row;
      padding: 0;

      > .text {
        padding-left: 7%;

        > .description p {
          font-size: 15px;
        }
      }
    }
  }
}
