@import "src/shared/styles/colors";

.modal-wrapper {
  background-color: #fff;
  padding: 24px;
  border-radius: 2px;

  > .close {
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 22px;
    cursor: pointer;
  }

  > .name {
    display: flex;
    align-items: center;
    margin-top: 0;
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 300;
    margin-bottom: 2rem;

     > .link {
      display: flex;
      color: $dark-background__color;
      font-size: 25px;
      margin: 0 1rem;
    }
  }

  > .btnwrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;

      > .closebtn {
        background-color: $dark-background__color;
        border: none;
        color: white;
        padding: 12px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 2rem;

    .tag {
      color: #fff;
      font-size: 13px;
      font-weight: 400;
      background: #026ec5;
      float: left;
      padding: 5px 10px;
      border-radius: 10em;
      margin: 5px;
      height: min-content;
      width: max-content;
    }
  }

  .description {
    margin: 8px 0;
    font-size: 13px;
  }

  @media (min-width: 1024px) { 
    padding: 48px;

    > .close {
      top: 48px;
      right: 48px;
    }

    > .name {
      font-size: 25px;
    }

    .description {
      margin: 1rem 0;
      font-size: 15px;
    }
  }
}

.carousel.carousel-slider .control-arrow {
  background-color: #000 !important; 
}
