.wrapperStyle {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
};

.maskStyle {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100000;
};

.containerStyle {
  position: relative;
  z-index: 100001;
  max-width: 1024px;
  width: 90%;
  max-height: 80%;
  overflow-y: auto;
};

@media (min-width: 1024px) {
  .containerStyle {
    position: relative;
    z-index: 100001;
    width: 50%
  };
}
