@import "src/shared/styles/colors";

.my-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $cream-background__color;
  padding-bottom: 4.5rem;

  > .list {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: max-content;
    margin: 0 0 4rem;
  }

  > .bars {
    width: 75%;

    > .column {
      width: 100%;
    }
  }

  @media (min-width: 1024px) {
    align-items: center;

    > .list {
      max-width: 75%;
    }

    > .bars {
      display: flex;
      justify-content: space-between;

      > .column {
        width: 27%;
      }
    }
  }
}
